[Desktop Entry]
Encoding=UTF-8
Name=Camunda Modeler
Exec=/opt/camunda-modeler/camunda-modeler
Icon=/opt/camunda-modeler/support/icon_128.png
Terminal=false
Type=Application
Categories=Development;
