- include_tasks: main-dnf.yml
  when: ansible_pkg_mgr == 'dnf'

- include_tasks: main-apt.yml
  when: ansible_pkg_mgr == 'apt'

- include_tasks: install-thefuck.yml

- name: "[BASE APPS]     | Set vim as the default editor"
  lineinfile:
    path: /home/vilmosnagy/.bashrc
    line: 'export EDITOR=vim'