- name: "[AZURE]      | Ensure Azure repo present"
  when:
    - ansible_pkg_mgr == 'dnf'
  copy: src=dnf/repos/microsoft.repo
    dest=/etc/yum.repos.d/
    owner=root group=root mode=0644

- name: "[AZURE]      | Install the Azure CLI tool"
  when:
    - ansible_pkg_mgr == 'dnf'
  dnf: name={{item}}
  with_items:
    - azure-cli
