- name: Create the directory where the Helm v3 downloads
  file:
    path: /tmp/helm
    state: directory
    mode: '0755'

- name: Retrieve helm binary archive.
  unarchive:
    src: https://get.helm.sh/helm-v4.0.4-linux-amd64.tar.gz
    dest: /tmp/helm
    remote_src: yes

- name: Move helm binary into place.
  command:
    cmd: cp /tmp/helm/linux-amd64/helm /usr/local/bin/helm

- name: Create the directory where the helmfile downloads
  file:
    path: /tmp/helmfile
    state: directory
    mode: '0755'

- name: Retrieve helmfile binary archive.
  unarchive:
    src: https://github.com/helmfile/helmfile/releases/download/v1.2.3/helmfile_1.2.3_linux_amd64.tar.gz
    dest: /tmp/helmfile
    remote_src: yes

- name: Move helmfile binary into place.
  ansible.builtin.copy:
    src: /tmp/helmfile/helmfile
    dest: /usr/local/bin/helmfile
    mode: 0775

- name: "[HELM] Setup the autocompletition in the bashrc"
  lineinfile:
    path: /home/vilmosnagy/.bashrc
    line: 'source <(helm completion bash)'

- name: Uninstall the helm-gcs plugin for helm
  become: no
  command:
    cmd: helm plugin uninstall gcs
  ignore_errors: yes

- name: Install the helm-gcs plugin for helm
  become: no
  command:
    cmd: helm plugin install https://github.com/hayorov/helm-gcs --verify=false

- name: Uninstall the helm-diff plugin for helm
  become: no
  command:
    cmd: helm plugin uninstall diff
  ignore_errors: yes

- name: Install the helm-diff plugin for helm
  become: no
  command:
    cmd: helm plugin install https://github.com/databus23/helm-diff --version v3.14.1 --verify=false

- name: Uninstall the helm-secrets plugin for helm
  become: no
  command:
    cmd: helm plugin uninstall secrets
  ignore_errors: yes

- name: Install the helm-secrets plugin for helm
  become: no
  command:
    cmd: helm plugin install --verify=false https://github.com/jkroepke/helm-secrets/releases/download/v4.7.4/secrets-4.7.4.tgz

- name: Uninstall the helm-secrets-getter plugin for helm
  become: no
  command:
    cmd: helm plugin uninstall secrets-getter
  ignore_errors: yes

- name: Install the helm-secrets-getter plugin for helm
  become: no
  command:
    cmd: helm plugin install --verify=false https://github.com/jkroepke/helm-secrets/releases/download/v4.7.4/secrets-getter-4.7.4.tgz


- name: Uninstall the helm-secrets-post-renderer plugin for helm
  become: no
  command:
    cmd: helm plugin uninstall secrets-post-renderer
  ignore_errors: yes

- name: Install the helm-secrets-post-renderer plugin for helm
  become: no
  command:
    cmd: helm plugin install --verify=false https://github.com/jkroepke/helm-secrets/releases/download/v4.7.4/secrets-post-renderer-4.7.4.tgz

- name: Uninstall the helm-unittests plugin for helm
  become: no
  command:
    cmd: helm plugin uninstall unittest
  ignore_errors: yes

- name: Install the helm-unittests plugin for helm
  become: no
  command:
    cmd: helm plugin install https://github.com/helm-unittest/helm-unittest --verify=false

- include_tasks: install-helm-sops.yml
