- include_tasks: install-yarn-dnf.yml

- name: "[BASE PKGS]     | Installing general development tools"
  dnf:
   name:
     - git
     - git-lfs
     - git-subtree
     - gitk
     - maven
     - meld
     - java-21-openjdk
     - java-21-openjdk-devel
     - java-21-openjdk-src
     - java-latest-openjdk
     - java-latest-openjdk-devel
     - java-latest-openjdk-src
     - android-tools
     - golang
     - npm
     - python-devel
     - openldap-devel
     - jq
     - ftp
     - gcc-c++
     - libX11-devel
     - libxkbfile-devel
     - xorg-x11-server-Xvfb
     - guilt
     - podman
     - buildah
     - pipenv
     - telnet

- name: "[MAVEN]       | Export the JAVA_HOME envvar for maven"
  lineinfile:
   path: /home/vilmosnagy/.bashrc
   line: 'export JAVA_HOME=/usr/lib/jvm/java-25'

- name: "[GO]          | Create $HOME/.go dir"
  ansible.builtin.file:
    path: /home/vilmosnagy/.go
    state: directory
    mode: '0755'

- name: "[GO]          | Export the GOPATH envvar for golang"
  lineinfile:
   path: /home/vilmosnagy/.bashrc
   line: 'export GOPATH=$HOME/.go'
